/*первичный цвет текста #757575*/
/*вторичный цвет #212121*/
/*цвет герой #FFFFFF*/
/*цвет акцент #2196F3*/
/*для футера rgba(255, 255, 255, 0.6)*/

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --hero-back-color: #2f303a;
  --back-color: #f5f4fa;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}
/* Утилиты */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
}

/* контейнеры */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* background-color: aquamarine; */
  outline: 2px solid tomato;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* логотип */
.logo {
  margin: 24px 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  color: #2e2f42;
}

.logo-span {
  color: #4d5ae5;
}

.logo-header {
}

/* навигация по сайту */

.site-nav {
  display: flex;
  column-gap: 40px;
  margin: 24px 0 24px 76px;
}

.site-nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.site-nav-item:hover,
.site-nav-item:focus,
.auth-nav-item:hover,
.auth-nav-item:focus {
  color: #404bbf;
}

/* навигация авторизации */

.auth-nav {
  display: flex;
  margin: 24px 0;
}
.auth-nav-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* герой */

.hero {
  padding: 188px 472px;
  text-align: center;
  height: 600px;

  background-color: #2e2f42;
}

.hero-title {
  margin-bottom: 48px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
}

/* характиристики */

.characteristic {
  padding: 120px 0;
}

.characteristic-title {
  display: none;
}

.characteristic-item:not(:last-child) {
  margin-right: 24px;
}

.characteristic-item-text {
  /* max-width: 264px; */
  /* width: 264px; */
}

/* команда */
.team-bg {
  background-color: #f4f4fd;
}

.team {
  padding: 120px 0;
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

/* портфолио */

.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  flex-wrap: wrap;
  /* row-gap: 24px;
  column-gap: 48px; */

  gap: 24px;
}

.portfolio-item {
  width: calc((100%-48px) / 3);
}

/* футер */

.footer {
  padding: 100px 156px;
}

.logo-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 16px;
}

.portfolio-sing {
  margin: 32px 0;
}

.portfolio-sign-title {
  margin-bottom: 8px;
}
