/*первичный цвет текста #757575*/
/*вторичный цвет #212121*/
/*цвет герой #FFFFFF*/
/*цвет акцент #2196F3*/
/*для футера rgba(255, 255, 255, 0.6)*/

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hero-text-color: #ffffff;
  --hero-back-color: #2f303a;
  --back-color: #f5f4fa;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
}
/* Утилиты */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

/* контейнеры */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* background-color: aquamarine; */
  outline: 2px solid tomato;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* соцсети */

.socmedia {
  display: flex;
  margin-top: 8px;
  column-gap: 24px;

  text-align: center;
}
.socmedia-svg {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.socmedia-svg-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.socmedia-svg:not(:last-child) {
  margin-right: 24px;
}

.socmedia-svg-bg:hover,
.socmedia-svg-bg:focus {
  background-color: #31d0aa;
}

/* логотип */
.logo {
  padding: 24px 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  color: #4d5ae5;
}

.logo-span {
  color: #2e2f42;
}

/* навигация по сайту */

.site-nav {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
}

.site-nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav-link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;
}

.site-nav-link:hover,
.site-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: #404bbf;
}

.site-nav-active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* навигация авторизации */

.auth-nav {
  display: flex;
  column-gap: 40px;
  margin: 24px 0;
}

.auth-nav-item a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.auth-nav-item a:hover,
.auth-nav-item a:focus {
  color: #404bbf;
}

.auth-nav-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

/* герой */

.hero {
  padding: 188px 472px;
  text-align: center;
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.7),
      rgba(47, 48, 58, 0.7)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  /* background-color: #2e2f42; */
}

.hero-title {
  margin-bottom: 48px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* характиристики */

.characteristic {
  padding-top: 120px;
  padding-bottom: 120px;
}

.characteristic-title {
  display: none;
}

.characteristic-svg {
  width: 264px;
}

.characteristic-item:not(:last-child) {
  margin-right: 24px;
}

/* ----------------------команда */
.team-bg {
  background-color: #f4f4fd;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-sign {
  padding: 32px 16px;
  text-align: center;
  background-color: #ffffff;

  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  border-radius: 0 0 4px 4px;
}

/* ---------------------портфолио */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100%-48px) / 3);
}

.portfolio img {
  position: relative;
}

.portfolio img::after {
  position: absolute;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.portfolio-sing {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-sign-title {
  margin-bottom: 8px;
}

/* ---------------------------футер */

.footer {
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  padding: 100px 0;
}

.footer-logo {
  width: 264px;
  margin-right: 120px;
}

.logo-span {
  color: #f4f4fd;
}

.logo-footer {
  display: block;
  margin-top: 0px;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
}

.footer-socmedia-text {
  margin-bottom: 16px;

  color: #f4f4fd;
}

.footer-socmedia-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
